.post {
    text-decoration: underline wavy olive;
}

span {
    background-color: black;
    color: wheat;
    font-size: 1.6rem;
}

p span {
    background-color: blueviolet;
    color: aqua;
    font-size: 1rem;
}


input + button {
    background-color:lightcoral;
}

footer a {
    color: red;
}

footer > a {
    color: midnightblue;
}