html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30vw;
    margin: calc(10%/6);
    padding: 1em 0;
    font-weight: bold;
    font-size: 1.2em;
}

img {
    width: 30vw;
    margin-left: calc(10%/6);
}