<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The home page <%= `hello world ${5+1}` %> </h1>
    <h1>A random, random number <%= ranNum %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem numquam blanditiis distinctio accusantium sunt obcaecati corporis saepe sit esse quaerat, a placeat nesciunt magni dolorum suscipit quam impedit quae eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nobis similique qui laboriosam deleniti, sint earum impedit est dolores expedita autem cupiditate doloremque velit! Ducimus minima ratione eum dolorem earum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem numquam blanditiis distinctio accusantium sunt obcaecati corporis saepe sit esse quaerat, a placeat nesciunt magni dolorum suscipit quam impedit quae eligendi.</p>
</body>
</html>