<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1><%= `hello world ${5+1}` %> </h1>
    <h1>A random, random number <%= ranNum %> </h1>
    <!-- <% if ( ranNum % 2 === 0) { %>
        <h2> <%= ranNum %> is an EVEN number! </h2>
    <% } else { %>
        <h2> <%= ranNum %> is an ODD number! </h2>
    <% } %> -->


</body>
</html>